version: '1.0.{build}'
image: Visual Studio 2019
branches:
  only:
  - master
init:
  # Good practise, because Windows line endings are different from Unix/Linux ones
  - cmd: git config --global core.autocrlf true
install:
  # Install repo specific stuff here
before_build:
  # Display .NET Core version
  - cmd: dotnet --version
  # Display minimal restore text
  - cmd: dotnet restore ./src/pi-top.sln --verbosity m
build_script:
  # output will be in ./src/bin/debug/netcoreapp1.1/publish
  - cmd: dotnet build ./src/pi-top.sln
after_build:
  # For once the build has completed
  - cmd: dotnet build ./src/pi-top.sln
artifacts:
 - path: '\src\bin\Debug\netcoreapp1.1\publish'
   name: NugetPacakges
   type: WebDeployPackage
clone_depth: 1
test_script:
    # test
on_finish :
    # any cleanup in here
deploy: off